name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GT_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/mybio
          docker build -t $IMAGE_NAME:latest .
          docker push $IMAGE_NAME:latest- 
       
       - name: Deploy to NAS
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.NAS_USER }}@${{ secrets.NAS_HOST }} "
          cd /path/to/project &&
          GT_TOKEN=${{ secrets.GT_TOKEN }} git pull https://x-access-token:${{ secrets.GT_TOKEN }}@github.com/${{ github.actor }}/mybio.git
        "

        

      
