name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GT_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/mybio
          docker build -t $IMAGE_NAME:latest .
          docker push $IMAGE_NAME:latest- 
       
      - name: Deploy to NAS
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USER: ${{ secrets.NAS_USER }}
          HOST: ${{ secrets.NAS_HOST }}
        run: |
          ssh -o StrictHostKeyChecking=no $USER@$HOST "
            cd /volume1/myproject &&
            git pull https://x-access-token:$TOKEN@github.com/guimoneda/mywebsite.git
          "

        

      
